
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background: url(../Imagenes/Big+Ask+Question+Background.png) no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.container{
    position: absolute;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 25px;
}

.header{
    font-size: 1.2rem;
    margin-top: 15px;
}

.items {
    padding: 30px;
}

.allItems {
    display: flex;
    font-size: 1.1rem;
    width: 500px;
    margin-bottom: 30px;
    flex-direction: column;
}

.up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.line {
    width: 500px;
    height: 0.9px;
    background-color: black;
}

.text {
    padding-top: 5px;
    margin: 2px;
    font-size: 0.7rem;
    display: none;
}


.clicker {
    cursor: pointer;
    transition: 0.5s;
}