* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(whiteTexture.jpg);
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
}

header {
    display: flex;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.15);
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    -webkit-text-stroke:0.1px #663939;
}
/*MAIN CONTENT*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resolution {
    margin-top: 30px;
}

.pall, .clear {
    margin: 0 10px;
    padding: 1rem 2rem;
    background-color: rgb(235, 225, 225);
    border-width: 2px;
    border-color: #663939;
    border-radius: 4px;
    font-size: 1.5rem;
}

.pall:hover, .clear:hover {
    box-shadow: 0 0 2px brown;
    cursor: pointer;
}

/*El lienso*/

.paper {
    margin-top: 30px;
    width: 100%;
    height: 1000px;
    max-width: 60vh; /* Will be AT MOST 60vh wide */
    max-height: 60vh;
    background-color: #d4d4d4;
    border-width: 2px;
    border-color: #232323;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}


.cuadraditos {
    background-color: #fbfbfb;
}

/*Herramientas*/
.tools {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    max-width: 60vh; /* Will be AT MOST 60vh wide */
    max-height: 60vh;
    background-color: rgb(245, 242, 242);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
}

.colores {
    width: 40px;
    height: 40px;
    background-color: #232323;
    margin-right: 8px;
    border-radius: 50%;
}

.color1 {
    background-color: #232323;
}
.color2 {
    background-color: #ff0000;
}

.color3 {
    background-color: #fffb00;
}

.color4 {
    background-color: #00ff00;
}
.color5 {
    background-color: #00ccff;
}

.colores:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    width: 42px;
    height: 42px;
    cursor: pointer;

}
.rubber {
    margin-left: 10px;
    background-image: url(rubber.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.clear {
    width: 100px;
    height: 40px;
    padding: 0px 10px;
    font-size: 1.2rem;
    border-width: 1px;
    background-color: rgb(240, 240, 240);
}

/*FOOTER*/
footer {
    position: absolute;
    bottom: 0;
    margin-left: 10px;
}